#
# phpBB Style Configuration File
#
# Forum theme for NZBGet (http://nzbget.net/forum).
#
# Based on forum theme Prosilver Speical Edition
#
# @copyright (c) phpBB Limited <https://www.phpbb.com>
# @copyright (c) Andrey Prygunkov
# @license GNU General Public License, version 2 (GPL-2.0)
#
# For full copyright and license information, please see
# the docs/CREDITS.txt file.

#
# At the left is the name, please do not change this
# At the right the value is entered
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#
#

# General Information about this style
name = NZBGet
copyright = © phpBB Limited, 2008; © Andrey Prygunkov, 2017
style_version = 3.2.0
phpbb_version = 3.2.0

# Defining a different template bitfield
# template_bitfield = lNg=

# Parent style
# Set value to empty or to this style's name if this style does not have a parent style
parent = prosilver
