---
redirect_from: donation
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>Donate to NZBGet</title>
<meta name="description" content="Donate to NZBGet">
{% include meta.html %}

  <meta http-equiv="refresh" content="10; url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7NCAT7FDRSH5C">
</head>

<body class="bs-docs-info">

{% include header.html %}

<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <h1>Donate to NZBGet</h1>
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Thank you for supporting NZBGet project!</h2>
    <br><br>
    <p>Redirecting to PayPal in a few moments...</p>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7NCAT7FDRSH5C">Click here if you are not redirected.</a>
  </div>
</div>

{% include footer.html %}

  </body>
</html>
