---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>NZBGet - Usenet downloader</title>
<meta name="description" content="NZBGet, the most efficient usenet downloader.">
{% include meta.html %}
</head>

<body class="bs-docs-home">

{% include header.html %}

<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <h1>NZBGet</h1>
    <p class="lead">Efficient Usenet downloader.</p>
    <p class="lead">
      <a href="/download" class="btn btn-outline-inverse btn-lg btn-download">
      <span class="glyphicon glyphicon-cloud-download btn-icon"></span><span class="btn-title">Download NZBGet</span><span class="btn-comment" style="padding-left:40px;">Windows, Mac, Linux, BSD, Android</span></a>
    </p>
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">

	<div class="section-sourceforge">
    <p class="lead">NZBGet is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/nzbget/nzbget" class="btn btn-outline btn-lg">View the GitHub project</a>
	</div>
	
  </div>
</div>

{% include footer.html %}

<a href="https://github.com/nzbget/nzbget"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

  </body>
</html>
