<!-- Footer -->
<footer class="bs-docs-footer" role="contentinfo">
    <p>Designed, built and maintained by <a href="mailto:hugbug@users.sourceforge.net" target="_blank">Andrey Prygunkov</a>.</p>
    <p>Web hosting by <a href="https://netlify.com" target="_blank">Netlify.com</a>.</p>
    <ul class="bs-docs-footer-links muted">
      <li><a href="/download">Download</a></li>
      <li>&middot;</li>
      <li><a href="/documentation">Documentation</a></li>
      <li>&middot;</li>
      <li><a href="https://forum.nzbget.net">Forum</a></li>
      <li>&middot;</li>
      <li><a href="https://github.com/nzbget/nzbget">GitHub</a></li>
      <li>&middot;</li>
      <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7NCAT7FDRSH5C">Donate</a></li>
    </ul>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
