<!-- Sidebar -->
<h1>Documentation</h1>
<hr>

<h2>Introduction</h2>
<ul>
  <li><a href="/Feature_highlights">Feature highlights</a></li>
</ul>

<h2>Installation manuals</h2>
<ul>
  <li><a href="/Installation_on_Windows">Installation on Windows</a></li>
  <li><a href="/Installation_on_Mac">Installation on Mac</a></li>
  <li><a href="/Installation_on_Linux">Installation on Linux</a></li>
  <li><a href="/Installation_on_FreeBSD">Installation on FreeBSD</a></li>
  <li><a href="/Installation_on_POSIX">Installation on POSIX</a></li>
  <li><a href="/Installation_on_Android">Installation on Android</a></li>
</ul>

<h2>Configuration</h2>
<ul>
  <li><a href="/Backup_and_restore_settings">Backup and restore settings</a></li>
  <li><a href="/Performance_tips">Performance tips</a></li>
  <li><a href="/Choosing_cipher">Choosing cipher</a></li>
  <li><a href="/Behind_other_web-server">Behind other web-server</a></li>
  <li><a href="/Certificate_verification">TLS certificate verification</a></li>
</ul>

<h2>Usage</h2>
<ul>
  <li><a href="/Quick_filter">Quick filter</a></li>
  <li><a href="/Keyboard_shortcuts">Keyboard shortcuts</a></li>
  <li><a href="/Catalog_of_post-processing_scripts">Catalog of post-processing scripts</a></li>
  <li><a href="/RSS">RSS and duplicate check</a></li>
  <li><a href="/https://github.com/nzbget/VideoSort">VideoSort</a></li>
  <li><a href="/Console_mode">Console mode</a></li>
  <li><a href="/Command_line_reference">Command line reference</a></li>
  <li><a href="/Performing_speed_tests">Performing speed tests</a></li>
</ul>

<h2>Development</h2>
<ul>
  <li><a href="/Building_development_version">Building development version</a></li>
  <li><a href="/Cross_compiling">Cross compiling</a></li>
  <li><a href="/Packaging">Packaging</a></li>
  <li><a href="/Functional_testing">Functional testing</a></li>
  <li><a href="/NServ_NNTP_server">NServ NNTP server</a></li>
</ul>

<h2>Extensions</h2>
<ul>
  <li><a href="/Extension_scripts">Extension scripts</a>
    <ul>
      <li><a href="/Post-processing_scripts">Post-processing scripts</a></li>
      <li><a href="/Scan_scripts">Scan scripts</a></li>
      <li><a href="/Queue_scripts">Queue scripts</a></li>
      <li><a href="/Scheduler_scripts">Scheduler scripts</a></li>
      <li><a href="/Feed_scripts">Feed scripts</a></li>
    </ul>
  </li>
  <li><a href="/api">API</a></li>
</ul>
