<!-- Sidebar -->
<h1>Documentation</h1>
<hr>

<h2>Introduction</h2>
<ul>
  <li><a href="/feature-highlights">Feature highlights</a></li>
</ul>

<h2>Installation manuals</h2>
<ul>
  <li><a href="/installation-on-windows">Installation on Windows</a></li>
  <li><a href="/installation-on-mac">Installation on Mac</a></li>
  <li><a href="/installation-on-linux">Installation on Linux</a></li>
  <li><a href="/installation-on-freebsd">Installation on FreeBSD</a></li>
  <li><a href="/installation-on-posix">Installation on POSIX</a></li>
  <li><a href="/installation-on-android">Installation on Android</a></li>
</ul>

<h2>Configuration</h2>
<ul>
  <li><a href="/backup-and-restore-settings">Backup and restore settings</a></li>
  <li><a href="/performance-tips">Performance tips</a></li>
  <li><a href="/choosing-cipher">Choosing cipher</a></li>
  <li><a href="/behind-other-web-server">Behind other web-server</a></li>
  <li><a href="/certificate-verification">TLS certificate verification</a></li>
</ul>

<h2>Usage</h2>
<ul>
  <li><a href="/quick-filter">Quick filter</a></li>
  <li><a href="/keyboard-shortcuts">Keyboard shortcuts</a></li>
  <li><a href="/rss">RSS and duplicate check</a></li>
  <li><a href="https://github.com/nzbget/VideoSort">VideoSort</a></li>
  <li><a href="/console-mode">Console mode</a></li>
  <li><a href="/command-line-reference">Command line reference</a></li>
  <li><a href="/performing-speed-tests">Performing speed tests</a></li>
</ul>

<h2>Development</h2>
<ul>
  <li><a href="/building-development-version">Building development version</a></li>
  <li><a href="/cross-compiling">Cross compiling</a></li>
  <li><a href="/packaging">Packaging</a></li>
  <li><a href="/functional-testing">Functional testing</a></li>
  <li><a href="/nserv-nntp-server">NServ NNTP server</a></li>
</ul>

<h2>Extensions</h2>
<ul>
  <li><a href="/extension-scripts">Extension scripts</a>
    <ul>
      <li><a href="/post-processing-scripts">Post-processing scripts</a></li>
      <li><a href="/scan-scripts">Scan scripts</a></li>
      <li><a href="/queue-scripts">Queue scripts</a></li>
      <li><a href="/scheduler-scripts">Scheduler scripts</a></li>
      <li><a href="/feed-scripts">Feed scripts</a></li>
    </ul>
  </li>
  <li><a href="/api">API</a></li>
</ul>
