<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title  | replace: "_", " " }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include meta.html %}
  </head>
  <body class="bs-docs-wiki">

    {% include header.html %}

    <main class="bs-docs-masthead" id="content" role="main">
      <div class="container">
        <h1>NZBGet : {{ page.title  | replace: "_", " " }}</h1>
      </div>
    </main>

    <div class="container">
      <div class="bs-docs-featurette">
        <div class="docs-content-container">
            <div class="docs-content">
              {{ content }}
            </div>
            <div class="docs-sidebar">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>