html, body {
	background-color: #fff;
	font-size: 12px;
	color: #555;
	padding: 0;
}

/* PAGE HEADER */

/* NZBGet Page Header */

.bs-docs-masthead {
	padding: 20px 0;
	text-align: center;
	background-color: #3e8c25;
	margin-bottom: 10px;
}

.bs-docs-masthead h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 500;
	color: #fff;
	text-align: left;
	margin: 15px 0px 5px 0px;
}

@media (max-width: 700px) {
	.bs-docs-masthead {
		padding: 1px 5px;
		margin-bottom: 15px;
	}
}

.bs-navbar {
	margin-left: -15px;
}

.bs-navbar::after {
	clear: both;
	content: " ";
	display: table;
}

.bs-navbar > li {
    float: left;
	display: block;
}

.bs-navbar > li > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	color: #377e14;
	font-weight: 500;
    line-height: 1.42857143;
	padding: 15px;
}

.bs-navbar > li > a:hover, .bs-navbar > li > a:focus {
    background-color: #f9f9f9;
	text-decoration: none;
}

/* END OF PAGE HEADER */

.bg3 {
	background-color: #d0d0d0;
}

.bg1, .bg2, .panel {
	background-color: #f0f0f0;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.panel {
	margin-bottom: 10px;
}

body.simple {
	min-height: 100%;
	padding: 0 5px;
}

#wrap, .bs-container {
	max-width: inherit;
	margin: 0;
	padding: 0 20px;
	border: none;
}

@media only screen and (min-width: 1150px) {
	#wrap, .bs-container {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0;
	}
}

@media only screen and (max-width: 700px) {
	#wrap, .bs-container {
		padding: 0 10px;
	}
}

.navbar {
	background-color: #fff;
	margin: 15px 0 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.navbar .search-box .inputbox {
	height: 26px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 12px;
	line-height: normal;
}

.navbar .search-box .button-search,
.navbar .search-box .button-search-end {
	display: none;
}

#page-header .navbar {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	padding: 0 0 10px 0;
}

#page-footer .navbar {
	display: none;
}

a, h3 {
	color: #444;
}

a:hover, a:focus {
	color: #444;
}

ul.topiclist li {
	color: #777;
}

.content h2, .panel h2 {
	color: #333;
}

h2.forum-title, h2.topic-title, h2.posting-title, h2.solo, h2.ucp-title,
h2.memberlist-title {
	display: none;
}

#page-header, #page-body {
	padding: 0;
	margin: 0;
}

.action-bar  {
	margin-top: 15px;
	margin-bottom: 15px;
}

.copyright {
	line-height: 20px;
}

.copyright a {
	color: #000000 !important;
}

.post.bg1 {
	background-color: #f8f8f8;
}

.forabg, .forumbg {
	background-color: #fff;
	background-image: none;
	border: none;
	padding: 0;
}

#postform .panel.bg2,
#post div.panel:nth-child(2),
#agreement div.panel:nth-child(2),
#register div.panel:nth-child(3),
form[action='./search.php'] div.panel:nth-child(3) {
	background-color: inherit;
	border: none;
}

ul.forums {
	background-color: #fff;
	background-image: none;
}

.topiclist .header .row-item {
	padding: 4px 0px 2px 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

li.header dt, li.header dd {
	font-weight: normal;
}

.topiclist .row {
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #ccc;
	border-bottom: none;
}

.topiclist .row:last-child {
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.topiclist .pagination {
	margin-bottom: 5px;
}

li.row, li.row:hover {
	background-color: #f0f0f0;
}

li.row {
	border-top-color: #ccc;
	border-bottom: none;
}

li.row.bg3 {
	background-color: #F0F4F6;
}

li.row.bg3:hover {
	background-color: #F4F8FA;
}

li.header dt, li.header dd {
	color: #555;
}


li.row dd {
	border-left: none;
}

.tabs .tab > a, .tabs .tab > a:hover {
    background: none;
    color: #666;
	border: 1px solid #ccc;
	border-bottom: none;
}

.tabs .tab.activetab > a {
    background: #f0f0f0;
}

.navigation a, .navigation a:hover {
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-right: none;
	border-bottom: none;
}

.navigation .active-subsection a {
	background: #F9F9F9;
}

.navigation li:last-child a {
	border-bottom: 1px solid #ccc;
}

table.zebra-list tr:nth-child(2n+1) td, ul.zebra-list li:nth-child(2n+1) {
    background-color: #e0e0e0;
}

table.zebra-list tr:nth-child(2n) td, ul.zebra-list li:nth-child(2n) {
    background-color: #e8e8e8;
}

.dropdown-extended .header {
	background-color: #e0e0e0;
	background-image: none;
}

.dropdown-extended .pointer-inner {
	border-color: #e0e0e0 transparent;
}

.pagination li a, .pagination .button .icon {
	color: #777;
}

.pagination li.active span {
    background: #25AF33;
    border-color: #25AF33;
    color: #FFFFFF;
	padding: 3px 10px;
}

.pagination li a:hover, .pagination li a:hover .icon {
    background: #25AF33;
    border-color: #25AF33;
}

.button, a.button1, a.button2, input.button1, input.button2, input.button3 {
	border-radius: 2px;
	color: #222;
	background-image: none;
	background-color: #EFEFEF;
	border: 1px solid #ccc;
	box-shadow: none;
	text-shadow: none;
	padding: 3px 10px;
}

.button:hover, .button:focus,
a.button1:hover, a.button2:hover,
input.button1:hover, input.button1:focus,
input.button2:hover, input.button2:focus, 
input.button3:hover, input.button3:focus {
	background-image: none;
	background-color: #25AF33;
	border-color: #25AF33;
	box-shadow: none;
	text-shadow: none;
	color: #fff;
}

.button-secondary:focus, .button-secondary:hover, .button:focus .icon, .button:hover .icon {
	color: #fff;
}

.button .icon, .button-secondary {
	color: #333;
}

.inputbox:hover, .inputbox:focus,
.navbar .search-box .inputbox:hover, .navbar .search-box .inputbox:focus,
.search-box .inputbox:hover, .search-box .inputbox:focus {
	border-color: #25AF33;
}

.action-bar .button {
	padding: 3px 10px;
}

.action-bar .search-box .inputbox {
	height: 26px;
	border-radius: 2px;
	border-width: 1px;
	margin-left: 5px;
}

.action-bar .search-box .inputbox, .action-bar .search-box .button-search {
	margin-right: 2px;
}

table.table1 tbody tr:hover {
    background-color: #f0f0f0;
}

table.table1 tbody tr.bg3:hover {
    background-color: #d0d0d0;
}

table.table1 thead th {
	color: #555;
	font-weight: bold;
}

div.rules {
	border-top: 1px solid D21040;
	border-bottom: 1px solid #D21040;
	border-radius: 0;
	padding: 0 0 5px 0;
	background-color: #fff;
	color: #D21040;
}

div.rules strong, div.rules br {
	display: none;
}

.action-bar.compact {
	margin-top: 10px;
	margin-bottom: 5px;
	display: none;
}

div.time > span {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}

.stat-block.permissions {
	display: none;
}

.post {
	margin-bottom: 10px;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {

	.headerbar + .navbar {
		margin-top: 20px;
	}

	.headerbar, .navbar, .forabg, .forumbg, .post, .panel {
		margin-left: 0;
		margin-right: 0;
	}

	.site-description {
    	text-align: left;
	}

	.site-description h1 {
		margin-left: 0;
	    overflow: visible;
	}	
}

/* Icons... */
.contact-icon						{ background-image: url("./images/icons_contact.png"); }

.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }

.online								{ background-image: url("./images/icon_user_online.png"); }
.offline							{ background-image: url("./images/icon_user_offline.png"); }

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.online							{ background-image: none !important; }
	.offline						{ background-image: none !important; }
}

dl.row-item dt .list-inner {
    padding-left: 55px;
}